.slider_with_text {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.slider_with_text_container {
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth transition */
}

.slider_with_text_container li {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
  position: relative;
}

.slider_info {
  position: absolute;
  left: 100px;
  top: 200px;
  color: white;
  z-index: 10;
}

.info {
  position: relative;
  z-index: 99;
}

.slider_info::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 1;
  padding: 20px;
}

.slider_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Indicator bars */
.indicator_container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px; /* 10px spacing */
}

.indicator {
  width: 70px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #ff9900; /* Active indicator color */
}
